*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(217, 220, 223);
}

header{
    padding: 20px;
    margin: auto;
    background-color: #1E2D24;
    color: white;
    font-family:"Sekuya", system-ui;
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: center;
    flex-direction: row-reverse;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);  
}

.perfil {
    width: 190px;
    height: auto;
    border-radius: 50%;
    border: 4px solid #0D9488;

}

h1{
    margin: 20px;
    font-size: 24px;
}

.hero {
    background: linear-gradient(#1E2D24, #334139);
    padding: 40px 0;
    min-height: 100vh;
}

.projetos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 200px;
    height: 200px;
    display: block;
    border-radius: 10px;
    border: 3px solid #0D9488;
}

.projeto1 {
    margin-top: 8px;
    font-size: 12px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.Perfil{
    padding: 8px;
    font-size: 0.70rem;
    color: white;
    text-align: center;
}

footer{
    background-color: #334139;
    padding: 20px;
    margin:auto;
    color: white; 
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0); 
    line-height: 3;  
}
footer a{
    color: white;
    text-decoration: none;
    align-items: center;   
}

footer p{
    font-family:"Sekuya", system-ui;
}

footer ul{
    list-style: none;
    
}

hr{
    border: none;
    border-top: 2px solid white; 
}

/*Celular*/

@media (max-width: 768px) {

    header {
        flex-direction: column;
        text-align: center;
        flex-direction: column-reverse;
    }

.hero {
    background: linear-gradient(#1E2D24, #334139);
    padding: 40px 0;
    min-height: 100vh; /* 🔥 ocupa a tela mas cresce se precisar */
}
    .projetos {
        flex-direction: column; /* 🔥 no celular fica um embaixo do outro */
        align-items: center;
    }

    .card img {
        width: 200px;
        height: 200px;
    }

    h1 {
        font-size: 18px;
    }

}


